<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Table-of-Contents" data-toc-modified-id="Table-of-Contents-1">Table of Contents</a></span></li><li><span><a href="#Data-Wrangling-with-Pandas" data-toc-modified-id="Data-Wrangling-with-Pandas-2">Data Wrangling with Pandas</a></span><ul class="toc-item"><li><span><a href="#Date/Time-data-handling" data-toc-modified-id="Date/Time-data-handling-2.1">Date/Time data handling</a></span></li><li><span><a href="#Merging-and-joining-DataFrame-objects" data-toc-modified-id="Merging-and-joining-DataFrame-objects-2.2">Merging and joining DataFrame objects</a></span><ul class="toc-item"><li><span><a href="#Exercise-6" data-toc-modified-id="Exercise-6-2.2.1">Exercise 6</a></span></li></ul></li><li><span><a href="#Concatenation" data-toc-modified-id="Concatenation-2.3">Concatenation</a></span></li><li><span><a href="#Reshaping-DataFrame-objects" data-toc-modified-id="Reshaping-DataFrame-objects-2.4">Reshaping DataFrame objects</a></span></li><li><span><a href="#Pivoting" data-toc-modified-id="Pivoting-2.5">Pivoting</a></span></li><li><span><a href="#Data-transformation" data-toc-modified-id="Data-transformation-2.6">Data transformation</a></span><ul class="toc-item"><li><span><a href="#Dealing-with-duplicates" data-toc-modified-id="Dealing-with-duplicates-2.6.1">Dealing with duplicates</a></span></li><li><span><a href="#Value-replacement" data-toc-modified-id="Value-replacement-2.6.2">Value replacement</a></span></li><li><span><a href="#Inidcator-variables" data-toc-modified-id="Inidcator-variables-2.6.3">Inidcator variables</a></span></li></ul></li><li><span><a href="#Categorical-Data" data-toc-modified-id="Categorical-Data-2.7">Categorical Data</a></span><ul class="toc-item"><li><span><a href="#Discretization" data-toc-modified-id="Discretization-2.7.1">Discretization</a></span></li><li><span><a href="#Permutation-and-sampling" data-toc-modified-id="Permutation-and-sampling-2.7.2">Permutation and sampling</a></span></li></ul></li><li><span><a href="#Data-aggregation-and-GroupBy-operations" data-toc-modified-id="Data-aggregation-and-GroupBy-operations-2.8">Data aggregation and GroupBy operations</a></span><ul class="toc-item"><li><span><a href="#Apply" data-toc-modified-id="Apply-2.8.1">Apply</a></span></li><li><span><a href="#Exercise-7" data-toc-modified-id="Exercise-7-2.8.2">Exercise 7</a></span></li></ul></li><li><span><a href="#References" data-toc-modified-id="References-2.9">References</a></span></li></ul></li></ul></div>

# Data Wrangling with Pandas

Now that we have been exposed to the basic functionality of Pandas, let's explore some more advanced features that will be useful when addressing more complex data management tasks.

As most statisticians/data analysts will admit, often the lion's share of the time spent implementing an analysis is devoted to preparing the data itself, rather than to coding or running a particular model that uses the data. This is where Pandas and  Python's standard library are beneficial, providing high-level, flexible, and efficient tools for manipulating your data as needed.

In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_context('notebook')

## Date/Time data handling

Date and time data are inherently problematic. There are an unequal number of days in every month, an unequal number of days in a year (due to leap years), and time zones that vary over space. Yet information about time is essential in many analyses, particularly in the case of time series analysis.

The `datetime` built-in library handles temporal information down to the nanosecond.

In [ ]:
from datetime import datetime, date, time

In [ ]:
now = datetime.now()
now

In [ ]:
date(1970, 9, 3)

Having a custom data type for dates and times is convenient because we can perform operations on them easily. For example, we may want to calculate the difference between two times:

In [ ]:
my_age = now - datetime(1970, 1, 1)
my_age.days/365

In this section, we will manipulate data collected from ocean-going vessels on the eastern seaboard. Vessel operations are monitored using the Automatic Identification System (AIS), a safety at sea navigation technology which vessels are required to maintain and that uses transponders to transmit very high frequency (VHF) radio signals containing static information including ship name, call sign, and country of origin, as well as dynamic information unique to a particular voyage such as vessel location, heading, and speed. 

The International Maritime Organization’s (IMO) International Convention for the Safety of Life at Sea requires functioning AIS capabilities on all vessels 300 gross tons or greater and the US Coast Guard requires AIS on nearly all vessels sailing in U.S. waters. The Coast Guard has established a national network of AIS receivers that provides coverage of nearly all U.S. waters. AIS signals are transmitted several times each minute and the network is capable of handling thousands of reports per minute and updates as often as every two seconds. Therefore, a typical voyage in our study might include the transmission of hundreds or thousands of AIS encoded signals. This provides a rich source of spatial data that includes both spatial and temporal information.

For our purposes, we will use summarized data that describes the transit of a given vessel through a particular administrative area. The data includes the start and end time of the transit segment, as well as information about the speed of the vessel, how far it travelled, etc.

In [ ]:
segments = pd.read_csv("Data/transit_segments.csv")
segments.head()

For example, we might be interested in the distribution of transit lengths, so we can plot them as a histogram:

In [ ]:
segments.seg_length.hist(bins=500)

Though most of the transits appear to be short, there are a few longer distances that make the plot difficult to read. This is where a transformation is useful:

In [ ]:
segments.seg_length.apply(np.log).hist(bins=500)

We can see that although there are date/time fields in the dataset, they are not in any specialized format, such as `datetime`.

Our first order of business will be to convert these data to `datetime`. The `strptime` method parses a string representation of a date and/or time field, according to the expected format of this information.

In [ ]:
datetime.strptime(segments.st_time.iloc[0], '%m/%d/%y %H:%M')

The `dateutil` package includes a parser that attempts to detect the format of the date strings, and convert them automatically.

In [ ]:
from dateutil.parser import parse

In [ ]:
parse(segments.st_time.iloc[0])

We can convert all the dates in a particular column by using the `apply` method.

In [ ]:
segments.st_time.apply(lambda d: datetime.strptime(d, '%m/%d/%y %H:%M')).head(20)

As a convenience, Pandas has a `to_datetime` method that will parse and convert an entire `Series` of formatted strings into `datetime` objects.

In [ ]:
pd.to_datetime(segments.st_time[:10])

Pandas also has a custom NA value for missing datetime objects, `NaT`.

In [ ]:
pd.to_datetime([None])

Also, if `to_datetime()` has problems parsing any particular date/time format, you can pass the spec in using the `format=` argument.

The `read_*` functions now have an optional `parse_dates` argument that try to convert any columns passed to it into `datetime` format upon import:

In [11]:
segments = pd.read_csv("Data/transit_segments.csv", parse_dates=['st_time', 'end_time'], nrows=1000)

In [12]:
segments.dtypes

mmsi                   int64
name                  object
transit                int64
segment                int64
seg_length           float64
avg_sog              float64
min_sog              float64
max_sog              float64
pdgt10               float64
st_time       datetime64[ns]
end_time      datetime64[ns]
dtype: object

Columns of the `datetime` type have an **accessor** to easily extract properties of the data type. This will return a `Series`, with the same row index as the `DataFrame`. For example:

In [ ]:
segments.st_time.dt.month.head()

This can be used to easily filter rows by particular temporal attributes:

In [ ]:
segments[segments.st_time.dt.month==2].head()

## Merging and joining DataFrame objects

Now that we have the vessel transit information as we need it, we may want a little more information regarding the vessels themselves. In the `data/AIS` folder there is a second table that contains information about each of the ships that traveled the segments in the `segments` table.

In [14]:
vessels = pd.read_csv("Data/vessel_information.csv", index_col='mmsi')
vessels.head()

,num_names,names,sov,flag,flag_type,num_loas,loa,max_loa,num_types,type
mmsi,,,,,,,,,,
1,8,Bil Holman Dredge/Dredge Capt Frank/Emo/Offsho...,Y,Unknown,Unknown,7,42.0/48.0/57.0/90.0/138.0/154.0/156.0,156.0,4,Dredging/MilOps/Reserved/Towing
9,3,000000009/Raven/Shearwater,N,Unknown,Unknown,2,50.0/62.0,62.0,2,Pleasure/Tug
21,1,Us Gov Vessel,Y,Unknown,Unknown,1,208.0,208.0,1,Unknown
74,2,Mcfaul/Sarah Bell,N,Unknown,Unknown,1,155.0,155.0,1,Unknown
103,3,Ron G/Us Navy Warship 103/Us Warship 103,Y,Unknown,Unknown,2,26.0/155.0,155.0,2,Tanker/Unknown

The challenge is that several ships have travelled multiple segments, so there is not a one-to-one relationship between the rows of the two tables. **The table of vessel information has a *one-to-many* relationship with the segments**.

In Pandas, we can combine tables according to the value of one or more *keys* that are used to identify rows, much like an index. Using a trivial example:

In [15]:
df1 = pd.DataFrame(dict(id=range(4), age=np.random.randint(18, 31, size=4)))
df2 = pd.DataFrame(dict(id=list(range(3))+list(range(3)), 
                        score=np.random.random(size=6)))

df1

   age  id
0   20   0
1   20   1
2   26   2
3   21   3

In [16]:
df2

   id     score
0   0  0.425183
1   1  0.939623
2   2  0.604398
3   0  0.890597
4   1  0.851723
5   2  0.563798

In [17]:
pd.merge(df1, df2)

   age  id     score
0   20   0  0.425183
1   20   0  0.890597
2   20   1  0.939623
3   20   1  0.851723
4   26   2  0.604398
5   26   2  0.563798

Notice that without any information about which column to use as a key, Pandas did the right thing and used the `id` column in both tables. Unless specified otherwise, `merge` will used any common column names as keys for merging the tables. 

Notice also that `id=3` from `df1` was omitted from the merged table. This is because, by default, `merge` performs an **inner join** on the tables, meaning that the merged table represents an intersection of the two tables.

In [18]:
pd.merge(df1, df2, how='outer')

   age  id     score
0   20   0  0.425183
1   20   0  0.890597
2   20   1  0.939623
3   20   1  0.851723
4   26   2  0.604398
5   26   2  0.563798
6   21   3       NaN

The **outer join** above yields the union of the two tables, so all rows are represented, with missing values inserted as appropriate. One can also perform **right** and **left** joins to include all rows of the right or left table (*i.e.* first or second argument to `merge`), but not necessarily the other.

Looking at the two datasets that we wish to merge:

In [19]:
segments.head(1)

,mmsi,name,transit,segment,seg_length,avg_sog,min_sog,max_sog,pdgt10,st_time,end_time
0,1,Us Govt Ves,1,1,5.1,13.2,9.2,14.5,96.5,2009-02-10 16:03:00,2009-02-10 16:27:00

In [20]:
vessels.head(1)

,num_names,names,sov,flag,flag_type,num_loas,loa,max_loa,num_types,type
mmsi,,,,,,,,,,
1,8,Bil Holman Dredge/Dredge Capt Frank/Emo/Offsho...,Y,Unknown,Unknown,7,42.0/48.0/57.0/90.0/138.0/154.0/156.0,156.0,4,Dredging/MilOps/Reserved/Towing

we see that there is a `mmsi` value (a vessel identifier) in each table, but it is used as an index for the `vessels` table. In this case, we have to specify to join on the index for this table, and on the `mmsi` column for the other.

In [21]:
segments_merged = pd.merge(vessels, segments, left_index=True, right_on='mmsi')

In [22]:
segments_merged.head()

,num_names,names,sov,flag,flag_type,num_loas,loa,max_loa,num_types,type,...,name,transit,segment,seg_length,avg_sog,min_sog,max_sog,pdgt10,st_time,end_time
0,8,Bil Holman Dredge/Dredge Capt Frank/Emo/Offsho...,Y,Unknown,Unknown,7,42.0/48.0/57.0/90.0/138.0/154.0/156.0,156.0,4,Dredging/MilOps/Reserved/Towing,...,Us Govt Ves,1,1,5.1,13.2,9.2,14.5,96.5,2009-02-10 16:03:00,2009-02-10 16:27:00
1,8,Bil Holman Dredge/Dredge Capt Frank/Emo/Offsho...,Y,Unknown,Unknown,7,42.0/48.0/57.0/90.0/138.0/154.0/156.0,156.0,4,Dredging/MilOps/Reserved/Towing,...,Dredge Capt Frank,1,1,13.5,18.6,10.4,20.6,100.0,2009-04-06 14:31:00,2009-04-06 15:20:00
2,8,Bil Holman Dredge/Dredge Capt Frank/Emo/Offsho...,Y,Unknown,Unknown,7,42.0/48.0/57.0/90.0/138.0/154.0/156.0,156.0,4,Dredging/MilOps/Reserved/Towing,...,Us Gov Vessel,1,1,4.3,16.2,10.3,20.5,100.0,2009-04-06 14:36:00,2009-04-06 14:55:00
3,8,Bil Holman Dredge/Dredge Capt Frank/Emo/Offsho...,Y,Unknown,Unknown,7,42.0/48.0/57.0/90.0/138.0/154.0/156.0,156.0,4,Dredging/MilOps/Reserved/Towing,...,Us Gov Vessel,2,1,9.2,15.4,14.5,16.1,100.0,2009-04-10 17:58:00,2009-04-10 18:34:00
4,8,Bil Holman Dredge/Dredge Capt Frank/Emo/Offsho...,Y,Unknown,Unknown,7,42.0/48.0/57.0/90.0/138.0/154.0/156.0,156.0,4,Dredging/MilOps/Reserved/Towing,...,Dredge Capt Frank,2,1,9.2,15.4,14.6,16.2,100.0,2009-04-10 17:59:00,2009-04-10 18:35:00

In this case, the default inner join is suitable; we are not interested in observations from either table that do not have corresponding entries in the other. 

Notice that `mmsi` field that was an index on the `vessels` table is no longer an index on the merged table.

Here, we used the `merge` function to perform the merge; we could also have used the `merge` *method* for either of the tables:

In [23]:
vessels.merge(segments, left_index=True, right_on='mmsi').head()

,num_names,names,sov,flag,flag_type,num_loas,loa,max_loa,num_types,type,...,name,transit,segment,seg_length,avg_sog,min_sog,max_sog,pdgt10,st_time,end_time
0,8,Bil Holman Dredge/Dredge Capt Frank/Emo/Offsho...,Y,Unknown,Unknown,7,42.0/48.0/57.0/90.0/138.0/154.0/156.0,156.0,4,Dredging/MilOps/Reserved/Towing,...,Us Govt Ves,1,1,5.1,13.2,9.2,14.5,96.5,2009-02-10 16:03:00,2009-02-10 16:27:00
1,8,Bil Holman Dredge/Dredge Capt Frank/Emo/Offsho...,Y,Unknown,Unknown,7,42.0/48.0/57.0/90.0/138.0/154.0/156.0,156.0,4,Dredging/MilOps/Reserved/Towing,...,Dredge Capt Frank,1,1,13.5,18.6,10.4,20.6,100.0,2009-04-06 14:31:00,2009-04-06 15:20:00
2,8,Bil Holman Dredge/Dredge Capt Frank/Emo/Offsho...,Y,Unknown,Unknown,7,42.0/48.0/57.0/90.0/138.0/154.0/156.0,156.0,4,Dredging/MilOps/Reserved/Towing,...,Us Gov Vessel,1,1,4.3,16.2,10.3,20.5,100.0,2009-04-06 14:36:00,2009-04-06 14:55:00
3,8,Bil Holman Dredge/Dredge Capt Frank/Emo/Offsho...,Y,Unknown,Unknown,7,42.0/48.0/57.0/90.0/138.0/154.0/156.0,156.0,4,Dredging/MilOps/Reserved/Towing,...,Us Gov Vessel,2,1,9.2,15.4,14.5,16.1,100.0,2009-04-10 17:58:00,2009-04-10 18:34:00
4,8,Bil Holman Dredge/Dredge Capt Frank/Emo/Offsho...,Y,Unknown,Unknown,7,42.0/48.0/57.0/90.0/138.0/154.0/156.0,156.0,4,Dredging/MilOps/Reserved/Towing,...,Dredge Capt Frank,2,1,9.2,15.4,14.6,16.2,100.0,2009-04-10 17:59:00,2009-04-10 18:35:00

Occasionally, there will be fields with the same in both tables that we do not wish to use to join the tables; they may contain different information, despite having the same name. In this case, Pandas will by default append suffixes `_x` and `_y` to the columns to uniquely identify them.

In [24]:
segments['type'] = 'foo'
pd.merge(vessels, segments, left_index=True, right_on='mmsi').head()

,num_names,names,sov,flag,flag_type,num_loas,loa,max_loa,num_types,type_x,...,transit,segment,seg_length,avg_sog,min_sog,max_sog,pdgt10,st_time,end_time,type_y
0,8,Bil Holman Dredge/Dredge Capt Frank/Emo/Offsho...,Y,Unknown,Unknown,7,42.0/48.0/57.0/90.0/138.0/154.0/156.0,156.0,4,Dredging/MilOps/Reserved/Towing,...,1,1,5.1,13.2,9.2,14.5,96.5,2009-02-10 16:03:00,2009-02-10 16:27:00,foo
1,8,Bil Holman Dredge/Dredge Capt Frank/Emo/Offsho...,Y,Unknown,Unknown,7,42.0/48.0/57.0/90.0/138.0/154.0/156.0,156.0,4,Dredging/MilOps/Reserved/Towing,...,1,1,13.5,18.6,10.4,20.6,100.0,2009-04-06 14:31:00,2009-04-06 15:20:00,foo
2,8,Bil Holman Dredge/Dredge Capt Frank/Emo/Offsho...,Y,Unknown,Unknown,7,42.0/48.0/57.0/90.0/138.0/154.0/156.0,156.0,4,Dredging/MilOps/Reserved/Towing,...,1,1,4.3,16.2,10.3,20.5,100.0,2009-04-06 14:36:00,2009-04-06 14:55:00,foo
3,8,Bil Holman Dredge/Dredge Capt Frank/Emo/Offsho...,Y,Unknown,Unknown,7,42.0/48.0/57.0/90.0/138.0/154.0/156.0,156.0,4,Dredging/MilOps/Reserved/Towing,...,2,1,9.2,15.4,14.5,16.1,100.0,2009-04-10 17:58:00,2009-04-10 18:34:00,foo
4,8,Bil Holman Dredge/Dredge Capt Frank/Emo/Offsho...,Y,Unknown,Unknown,7,42.0/48.0/57.0/90.0/138.0/154.0/156.0,156.0,4,Dredging/MilOps/Reserved/Towing,...,2,1,9.2,15.4,14.6,16.2,100.0,2009-04-10 17:59:00,2009-04-10 18:35:00,foo

This behavior can be overridden by specifying a `suffixes` argument, containing a list of the suffixes to be used for the columns of the left and right columns, respectively.

### Exercise 6
Fix the following `merge` in order to return a non-empty `DataFrame`.

In [ ]:
segments.merge(vessels).head(10)

## Concatenation

A common data manipulation is appending rows or columns to a dataset that already conform to the dimensions of the exsiting rows or colums, respectively:

In [ ]:
np.concatenate([np.random.random(5), np.random.random(5)])

This operation is also called *binding* or *stacking*.

With Pandas' indexed data structures, there are additional considerations as the overlap in index values between two data structures affects how they are concatenate.

Lets import two microbiome datasets, each consisting of counts of microorganiams from a particular patient. We will use the first column of each dataset as the index.

In [3]:
mb1 = pd.read_excel('Data/microbiome_MID1.xls', 'Sheet 1', index_col=0, header=None)
mb2 = pd.read_excel('Data/microbiome_MID2.xls', 'Sheet 1', index_col=0, header=None)
mb1.columns = mb2.columns = ['Count']
mb1.index.name = mb2.index.name = 'Taxon'
mb1.shape, mb2.shape

((272, 1), (288, 1))

In [4]:
mb1.head()

                                                    Count
Taxon
Archaea "Crenarchaeota" Thermoprotei Desulfuroc...      7
Archaea "Crenarchaeota" Thermoprotei Desulfuroc...      2
Archaea "Crenarchaeota" Thermoprotei Sulfolobal...      3
Archaea "Crenarchaeota" Thermoprotei Thermoprot...      3
Archaea "Euryarchaeota" "Methanomicrobia" Metha...      7

The index of these data is the unique biological classification of each organism, beginning with *domain*, *phylum*, *class*, and for some organisms, going all the way down to the genus level.

![classification](http://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Biological_classification_L_Pengo_vflip.svg/150px-Biological_classification_L_Pengo_vflip.svg.png)

In [5]:
mb1.index.is_unique

True

If we concatenate along `axis=0` (the default), we will obtain another data frame with the the rows concatenated:

In [6]:
pd.concat([mb1, mb2], axis=0)

                                                    Count
Taxon
Archaea "Crenarchaeota" Thermoprotei Desulfuroc...      7
Archaea "Crenarchaeota" Thermoprotei Desulfuroc...      2
Archaea "Crenarchaeota" Thermoprotei Sulfolobal...      3
Archaea "Crenarchaeota" Thermoprotei Thermoprot...      3
Archaea "Euryarchaeota" "Methanomicrobia" Metha...      7
Archaea "Euryarchaeota" "Methanomicrobia" Metha...      1
Archaea "Euryarchaeota" "Methanomicrobia" Metha...      1
Archaea "Euryarchaeota" Archaeoglobi Archaeoglo...      1
Archaea "Euryarchaeota" Archaeoglobi Archaeoglo...      1
Archaea "Euryarchaeota" Halobacteria Halobacter...      1
Archaea "Euryarchaeota" Halobacteria Halobacter...      4
Archaea "Euryarchaeota" Halobacteria Halobacter...      1
Archaea "Euryarchaeota" Halobacteria Halobacter...      2
Archaea "Euryarchaeota" Halobacteria Halobacter...      4
Archaea "Euryarchaeota" Methanococci Methanococ...      1
Archaea "Euryarchaeota" Methanopyri Methanopyra...     12
Archaea "Euryarchaeota" Thermoplasmata Thermopl...      2
Bacteria "Actinobacteria" Actinobacteria Actino...      2
Bacteria "Actinobacteria" Actinobacteria Actino...      1
Bacteria "Actinobacteria" Actinobacteria Actino...      1
Bacteria "Actinobacteria" Actinobacteria Actino...      1
Bacteria "Actinobacteria" Actinobacteria Actino...      2
Bacteria "Actinobacteria" Actinobacteria Actino...     53
Bacteria "Actinobacteria" Actinobacteria Actino...      1
Bacteria "Actinobacteria" Actinobacteria Actino...      2
Bacteria "Actinobacteria" Actinobacteria Actino...      3
Bacteria "Actinobacteria" Actinobacteria Actino...      1
Bacteria "Actinobacteria" Actinobacteria Actino...     99
Bacteria "Actinobacteria" Actinobacteria Actino...     17
Bacteria "Actinobacteria" Actinobacteria Actino...      2
...                                                   ...
Bacteria "Proteobacteria" Gammaproteobacteria "...     48
Bacteria "Proteobacteria" Gammaproteobacteria A...      3
Bacteria "Proteobacteria" Gammaproteobacteria C...      1
Bacteria "Proteobacteria" Gammaproteobacteria M...      3
Bacteria "Proteobacteria" Gammaproteobacteria O...      1
Bacteria "Proteobacteria" Gammaproteobacteria O...      2
Bacteria "Proteobacteria" Gammaproteobacteria O...      3
Bacteria "Proteobacteria" Gammaproteobacteria O...      3
Bacteria "Proteobacteria" Gammaproteobacteria O...      1
Bacteria "Proteobacteria" Gammaproteobacteria O...      1
Bacteria "Proteobacteria" Gammaproteobacteria O...      3
Bacteria "Proteobacteria" Gammaproteobacteria P...      1
Bacteria "Proteobacteria" Gammaproteobacteria P...      9
Bacteria "Proteobacteria" Gammaproteobacteria P...     10
Bacteria "Proteobacteria" Gammaproteobacteria P...     40
Bacteria "Proteobacteria" Gammaproteobacteria T...      9
Bacteria "Proteobacteria" Gammaproteobacteria T...      1
Bacteria "Proteobacteria" Gammaproteobacteria T...      1
Bacteria "Proteobacteria" Gammaproteobacteria T...      2
Bacteria "Proteobacteria" Gammaproteobacteria X...      3
Bacteria "Synergistetes" Synergistia Synergista...      2
Bacteria "Synergistetes" Synergistia Synergista...      2
Bacteria "Tenericutes" Mollicutes Haloplasmatal...     15
Bacteria "Thermodesulfobacteria" Thermodesulfob...      1
Bacteria "Thermodesulfobacteria" Thermodesulfob...      3
Bacteria "Thermotogae" Thermotogae Thermotogale...     15
Bacteria "Thermotogae" Thermotogae Thermotogale...     22
Bacteria Cyanobacteria Cyanobacteria  Chloropla...      1
Bacteria Cyanobacteria Cyanobacteria  Chloropla...      2
Bacteria TM7    TM7_genera_incertae_sedis               2

[560 rows x 1 columns]

However, the index is no longer unique, due to overlap between the two `DataFrames`.

In [7]:
pd.concat([mb1, mb2], axis=0).index.is_unique

False

Concatenating along `axis=1` will concatenate column-wise, but respecting the indices of the two `DataFrames`.

In [ ]:
pd.concat([mb1, mb2], axis=1).shape

In [ ]:
pd.concat([mb1, mb2], axis=1).head()

## Reshaping DataFrame objects

In the context of a single DataFrame, we are often interested in re-arranging the layout of our data.

This dataset is from Table 6.9 of [Statistical Methods for the Analysis of Repeated Measurements](http://www.amazon.com/Statistical-Methods-Analysis-Repeated-Measurements/dp/0387953701) by Charles S. Davis, pp. 161-163 (Springer, 2002). These data are from a multicenter, randomized controlled trial of botulinum toxin type B (BotB) in patients with cervical dystonia from nine U.S. sites.

* Randomized to placebo (N=36), 5000 units of BotB (N=36), 10,000 units of BotB (N=37)
* Response variable: total score on Toronto Western Spasmodic Torticollis Rating Scale (TWSTRS), measuring severity, pain, and disability of cervical dystonia (high scores mean more impairment)
* TWSTRS measured at baseline (week 0) and weeks 2, 4, 8, 12, 16 after treatment began

In [2]:
cdystonia = pd.read_csv("Data/cdystonia.csv", index_col=None)
cdystonia.head()

   patient  obs  week  site  id  treat  age sex  twstrs
0        1    1     0     1   1  5000U   65   F      32
1        1    2     2     1   1  5000U   65   F      30
2        1    3     4     1   1  5000U   65   F      24
3        1    4     8     1   1  5000U   65   F      37
4        1    5    12     1   1  5000U   65   F      39

This dataset includes repeated measurements of the same individuals (longitudinal data). Its possible to present such information in (at least) two ways: showing each repeated measurement in their own row, or in multiple columns representing multiple measurements.

The `stack` method rotates the data frame so that columns are represented in rows:

In [ ]:
stacked = cdystonia.stack()
stacked.head(15)

To complement this, `unstack` pivots from rows back to columns.

In [ ]:
stacked.unstack().head()

For this dataset, it makes sense to create a hierarchical index based on the patient and observation:

## Pivoting

The `pivot` method allows a DataFrame to be transformed easily between long and wide formats in the same way as a pivot table is created in a spreadsheet. It takes three arguments: `index`, `columns` and `values`, corresponding to the DataFrame index (the row headers), columns and cell values, respectively.

For example, we may want the `twstrs` variable (the response variable) in wide format according to patient, as we saw with the unstacking method above:

In [ ]:
twstrs_wide = cdystonia.pivot(index='patient', columns='obs', values='twstrs').head()
twstrs_wide

In [ ]:
cdystonia_wide = (cdystonia[['patient','site','id','treat','age','sex']]
                  .drop_duplicates()
                  .merge(twstrs_wide, right_index=True, left_on='patient', how='inner')
                  .head())
cdystonia_wide

To convert our "wide" format back to long, we can use the `melt` function, appropriately parameterized. This function is useful for `DataFrame`s where one
or more columns are identifier variables (`id_vars`), with the remaining columns being measured variables (`value_vars`). The measured variables are "unpivoted" to
the row axis, leaving just two non-identifier columns, a *variable* and its corresponding *value*, which can both be renamed using optional arguments.

In [ ]:
pd.melt(cdystonia_wide, id_vars=['patient','site','id','treat','age','sex'], var_name='obs', value_name='twsters').head()

This illustrates the two formats for longitudinal data: **long** and **wide** formats. Its typically better to store data in long format because additional data can be included as additional rows in the database, while wide format requires that the entire database schema be altered by adding columns to every row as data are collected.

The preferable format for analysis depends entirely on what is planned for the data, so it is imporant to be able to move easily between them.

A related method, `pivot_table`, creates a spreadsheet-like table with a hierarchical index, and allows the values of the table to be populated using an arbitrary aggregation function.

In [ ]:
cdystonia.pivot_table(index=['site', 'treat'], columns='week', values='twstrs', aggfunc=max).head(20)

For a simple cross-tabulation of group frequencies, the `crosstab` function (not a method) aggregates counts of data according to factors in rows and columns. The factors may be hierarchical if desired.

In [ ]:
pd.crosstab(cdystonia.sex, cdystonia.site)

## Data transformation

There are a slew of additional operations for DataFrames that we would collectively refer to as "transformations" which include tasks such as removing duplicate values, replacing values, and grouping values.

### Dealing with duplicates

We can easily identify and remove duplicate values from `DataFrame` objects. For example, say we want to removed ships from our `vessels` dataset that have the same name:

In [ ]:
vessels.duplicated(subset='names').head(30)

In [ ]:
vessels.drop_duplicates(['names'])

### Value replacement

Frequently, we get data columns that are encoded as strings that we wish to represent numerically for the purposes of including it in a quantitative analysis. For example, consider the treatment variable in the cervical dystonia dataset:

In [ ]:
cdystonia.treat.value_counts()

A logical way to specify these numerically is to change them to integer values, perhaps using "Placebo" as a baseline value. If we create a dict with the original values as keys and the replacements as values, we can pass it to the `map` method to implement the changes.

In [ ]:
cdystonia['treatment'] = cdystonia.treat.map({'Placebo': 0, '5000U': 1, '10000U': 2})
cdystonia.treatment.head(10)

We can also perform the same replacement that we used `map` for with `replace`:

In [ ]:
cdystonia.treat.replace({0:'Placebo', 1:'5000U', 2:'10000U'}).head(10)

### Inidcator variables

For some statistical analyses (*e.g.* regression models or analyses of variance), categorical or group variables need to be converted into columns of indicators--zeros and ones--to create a so-called **design matrix**. The Pandas function `get_dummies` (indicator variables are also known as *dummy variables*) makes this transformation straightforward.

In [ ]:
pd.get_dummies(vessels.head(10).type)

## Categorical Data

Pandas provides a convenient `dtype` for reprsenting categorical (factor) data, called `category`. 

For example, the `treat` column in the cervical dystonia dataset represents three treatment levels in a clinical trial, and is imported by default as an `object` type, since it is a mixture of string characters.

In [ ]:
cdystonia.treat.head()

We can convert this to a `category` type either by the `Categorical` constructor, or casting the column using `astype`:

In [ ]:
pd.Categorical(cdystonia.treat)

In [ ]:
cdystonia['treat'] = cdystonia.treat.astype('category')

In [ ]:
cdystonia.treat.describe()

The important difference between the `category` type and the `object` type is that `category` is represented by an <b>underlying array of integers</b>, which is then mapped to character labels.

In [ ]:
cdystonia.treat.cat.codes.head(20)

Notice that these are 8-bit integers, which are essentially single bytes of data, making memory usage lower.

There is also a performance benefit. Consider an operation such as calculating the total segment lengths for each ship in the `segments` table (this is also a preview of pandas' `groupby` operation!):

In [ ]:
%time segments.groupby(segments.name).seg_length.sum().sort_values(ascending=False, inplace=False).head()

In [ ]:
segments['name'] = segments.name.astype('category')

In [ ]:
%time segments.groupby(segments.name).seg_length.sum().sort_values(ascending=False, inplace=False).head()

Hence, we get a considerable speedup simply by using the appropriate `dtype` for our data.

### Discretization

Pandas' `cut` function can be used to group continuous or countable data in to bins. Discretization is generally a very **bad idea** for statistical analysis, so use this function responsibly!

Lets say we want to bin the ages of the cervical dystonia patients into a smaller number of groups:

In [ ]:
cdystonia.age.describe()

Let's transform these data into decades, beginnnig with individuals in their 20's and ending with those in their 80's:

In [ ]:
pd.cut(cdystonia.age, [20,30,40,50,60,70,80,90])[:20]

The parentheses indicate an open interval, meaning that the interval includes values up to but *not including* the endpoint, whereas the square bracket is a closed interval, where the endpoint is included in the interval. We can switch the closure to the left side by setting the `right` flag to `False`:

In [ ]:
pd.cut(cdystonia.age, [20,30,40,50,60,70,80,90], right=False)[:20]

Since the data are now **ordinal**, rather than numeric, we can give them labels:

In [ ]:
pd.cut(cdystonia.age, [20,40,60,80,90], labels=['young','middle-aged','old','really old'])[:20]

A related function `qcut` uses empirical quantiles to divide the data. If, for example, we want the quartiles -- (0-25%], (25-50%], (50-70%], (75-100%] -- we can just specify 4 intervals, which will be equally-spaced by default:

In [ ]:
pd.qcut(cdystonia.age, 4)[:20]

Alternatively, one can specify custom quantiles to act as cut points:

In [ ]:
quantiles = pd.qcut(segments.seg_length, [0, 0.01, 0.05, 0.95, 0.99, 1])
quantiles[:20]

### Permutation and sampling

For some data analysis tasks, such as simulation, we need to be able to randomly reorder our data, or draw random values from it. Calling NumPy's `permutation` function with the length of the sequence you want to permute generates an array with a permuted sequence of integers, which can be used to re-order the sequence.

In [ ]:
new_order = np.random.permutation(len(segments))
new_order[:30]

Using this sequence as an argument to the `take` method results in a reordered DataFrame:

In [ ]:
segments.take(new_order).head()

Compare this ordering with the original:

In [ ]:
segments.head()

For random sampling, `DataFrame` and `Series` objects have a `sample` method that can be used to draw samples, with or without replacement:

In [ ]:
vessels.sample(n=10)

In [ ]:
vessels.sample(n=10, replace=True)

## Data aggregation and GroupBy operations

One of the most powerful features of Pandas is its **GroupBy** functionality. On some occasions we may want to perform operations on *groups* of observations within a dataset. For example:

* **aggregation**, such as computing the sum of mean of each group, which involves applying a function to each group and returning the aggregated results
* **slicing** the DataFrame into groups and then doing something with the resulting slices (*e.g.* plotting)
* group-wise **transformation**, such as standardization/normalization

In [3]:
cdystonia_grouped = cdystonia.groupby(cdystonia.patient)

However, the grouping is only an intermediate step; for example, we may want to **iterate** over each of the patient groups:

In [4]:
for patient, group in cdystonia_grouped:
    print('patient', patient)
    print('group', group)

patient 1
group    patient  obs  week  site  id  treat  age sex  twstrs
0        1    1     0     1   1  5000U   65   F      32
1        1    2     2     1   1  5000U   65   F      30
2        1    3     4     1   1  5000U   65   F      24
3        1    4     8     1   1  5000U   65   F      37
4        1    5    12     1   1  5000U   65   F      39
5        1    6    16     1   1  5000U   65   F      36
patient 2
group     patient  obs  week  site  id   treat  age sex  twstrs
6         2    1     0     1   2  10000U   70   F      60
7         2    2     2     1   2  10000U   70   F      26
8         2    3     4     1   2  10000U   70   F      27
9         2    4     8     1   2  10000U   70   F      41
10        2    5    12     1   2  10000U   70   F      65
11        2    6    16     1   2  10000U   70   F      67
patient 3
group     patient  obs  week  site  id  treat  age sex  twstrs
12        3    1     0     1   3  5000U   64   F      44
13        3    2     2     1   3  5000U   64   F      20
14        3    3     4     1   3  5000U   64   F      23
15        3    4     8     1   3  5000U   64   F      26
16        3    5    12     1   3  5000U   64   F      35
17        3    6    16     1   3  5000U   64   F      35
patient 4
group     patient  obs  week  site  id    treat  age sex  twstrs
18        4    1     0     1   4  Placebo   59   F      53
19        4    2     2     1   4  Placebo   59   F      61
20        4    3     4     1   4  Placebo   59   F      64
21        4    4     8     1   4  Placebo   59   F      62
patient 5
group     patient  obs  week  site  id   treat  age sex  twstrs
22        5    1     0     1   5  10000U   76   F      53
23        5    2     2     1   5  10000U   76   F      35
24        5    3     4     1   5  10000U   76   F      48
25        5    4     8     1   5  10000U   76   F      49
26        5    5    12     1   5  10000U   76   F      41
27        5    6    16     1   5  10000U   76   F      51
patient 6
group     patient  obs  week  site  id   treat  age sex  twstrs
28        6    1     0     1   6  10000U   59   F      49
29        6    2     2     1   6  10000U   59   F      34
30        6    3     4     1   6  10000U   59   F      43
31        6    4     8     1   6  10000U   59   F      48
32        6    5    12     1   6  10000U   59   F      48
33        6    6    16     1   6  10000U   59   F      51
patient 7
group     patient  obs  week  site  id  treat  age sex  twstrs
34        7    1     0     1   7  5000U   72   M      42
35        7    2     2     1   7  5000U   72   M      32
36        7    3     4     1   7  5000U   72   M      32
37        7    4     8     1   7  5000U   72   M      43
38        7    5    12     1   7  5000U   72   M      42
39        7    6    16     1   7  5000U   72   M      46
patient 8
group     patient  obs  week  site  id    treat  age sex  twstrs
40        8    1     0     1   8  Placebo   40   M      34
41        8    2     2     1   8  Placebo   40   M      33
42        8    3     4     1   8  Placebo   40   M      21
43        8    4     8     1   8  Placebo   40   M      27
44        8    5    12     1   8  Placebo   40   M      32
45        8    6    16     1   8  Placebo   40   M      38
patient 9
group     patient  obs  week  site  id  treat  age sex  twstrs
46        9    1     0     1   9  5000U   52   F      41
47        9    2     2     1   9  5000U   52   F      32
48        9    3     4     1   9  5000U   52   F      34
49        9    4     8     1   9  5000U   52   F      35
50        9    5    12     1   9  5000U   52   F      37
51        9    6    16     1   9  5000U   52   F      36
patient 10
group     patient  obs  week  site  id    treat  age sex  twstrs
52       10    1     0     1  10  Placebo   47   M      27
53       10    2     2     1  10  Placebo   47   M      10
54       10    3     4     1  10  Placebo   47   M      31
55       10    4     8     1  10  Placebo   47   M      32
56       10    5    12     1  10  Placebo   47   M       6
57       10    6    16     1  10  Placebo   47   M      14
patient 11
group     patient  obs  week  site  id   treat  age sex  twstrs
58       11    1     0     1  11  10000U   57   F      48
59       11    2     2     1  11  10000U   57   F      41
60       11    3     4     1  11  10000U   57   F      32
61       11    4     8     1  11  10000U   57   F      35
62       11    5    12     1  11  10000U   57   F      57
63       11    6    16     1  11  10000U   57   F      51
patient 12
group     patient  obs  week  site  id    treat  age sex  twstrs
64       12    1     0     1  12  Placebo   47   F      34
65       12    2     2     1  12  Placebo   47   F      19
66       12    3     4     1  12  Placebo   47   F      21
67       12    4     8     1  12  Placebo   47   F      24
68       12    5    12     1  12  Placebo   47   F      28
69       12    6    16     1  12  Placebo   47   F      28
patient 13
group     patient  obs  week  site  id    treat  age sex  twstrs
70       13    1     0     2   1  Placebo   70   F      49
71       13    2     2     2   1  Placebo   70   F      47
72       13    3     4     2   1  Placebo   70   F      44
73       13    4     8     2   1  Placebo   70   F      48
74       13    5    12     2   1  Placebo   70   F      44
75       13    6    16     2   1  Placebo   70   F      44
patient 14
group     patient  obs  week  site  id  treat  age sex  twstrs
76       14    1     0     2   2  5000U   49   F      46
77       14    2     2     2   2  5000U   49   F      35
78       14    3     4     2   2  5000U   49   F      45
79       14    4     8     2   2  5000U   49   F      49
80       14    5    12     2   2  5000U   49   F      53
81       14    6    16     2   2  5000U   49   F      56
patient 15
group     patient  obs  week  site  id   treat  age sex  twstrs
82       15    1     0     2   3  10000U   59   F      56
83       15    2     2     2   3  10000U   59   F      44
84       15    3     4     2   3  10000U   59   F      48
85       15    4     8     2   3  10000U   59   F      54
86       15    5    12     2   3  10000U   59   F      49
87       15    6    16     2   3  10000U   59   F      60
patient 16
group     patient  obs  week  site  id  treat  age sex  twstrs
88       16    1     0     2   4  5000U   64   M      59
89       16    2     2     2   4  5000U   64   M      48
90       16    3     4     2   4  5000U   64   M      56
91       16    4     8     2   4  5000U   64   M      55
92       16    5    12     2   4  5000U   64   M      57
93       16    6    16     2   4  5000U   64   M      58
patient 17
group     patient  obs  week  site  id   treat  age sex  twstrs
94       17    1     0     2   5  10000U   45   F      62
95       17    2     2     2   5  10000U   45   F      60
96       17    3     4     2   5  10000U   45   F      60
97       17    4     8     2   5  10000U   45   F      64
98       17    5    12     2   5  10000U   45   F      67
99       17    6    16     2   5  10000U   45   F      66
patient 18
group      patient  obs  week  site  id    treat  age sex  twstrs
100       18    1     0     2   6  Placebo   66   F      50
101       18    2     2     2   6  Placebo   66   F      53
102       18    3     4     2   6  Placebo   66   F      52
103       18    4     8     2   6  Placebo   66   F      57
104       18    5    12     2   6  Placebo   66   F      61
105       18    6    16     2   6  Placebo   66   F      54
patient 19
group      patient  obs  week  site  id   treat  age sex  twstrs
106       19    1     0     2   7  10000U   49   F      42
107       19    2     2     2   7  10000U   49   F      42
108       19    3     4     2   7  10000U   49   F      43
109       19    4     8     2   7  10000U   49   F      33
110       19    5    12     2   7  10000U   49   F      37
111       19    6    16     2   7  10000U   49   F      43
patient 20
group      patient  obs  week  site  id    treat  age sex  twstrs
112       20    1     0     2   8  Placebo   54   F      53
113       20    2     2     2   8  Placebo   54   F      56
114       20    3     4     2   8  Placebo   54   F      52
115       20    4     8     2   8  Placebo   54   F      54
116       20    5    12     2   8  Placebo   54   F      55
117       20    6    16     2   8  Placebo   54   F      51
patient 21
group      patient  obs  week  site  id  treat  age sex  twstrs
118       21    1     0     2   9  5000U   47   F      67
119       21    2     2     2   9  5000U   47   F      64
120       21    3     4     2   9  5000U   47   F      65
121       21    4     8     2   9  5000U   47   F      64
122       21    5    12     2   9  5000U   47   F      62
123       21    6    16     2   9  5000U   47   F      64
patient 22
group      patient  obs  week  site  id    treat  age sex  twstrs
124       22    1     0     2  10  Placebo   31   M      44
125       22    2     2     2  10  Placebo   31   M      40
126       22    3     4     2  10  Placebo   31   M      32
127       22    4     8     2  10  Placebo   31   M      36
128       22    5    12     2  10  Placebo   31   M      42
129       22    6    16     2  10  Placebo   31   M      43
patient 23
group      patient  obs  week  site  id   treat  age sex  twstrs
130       23    1     0     2  11  10000U   53   F      65
131       23    2     2     2  11  10000U   53   F      58
132       23    3     4     2  11  10000U   53   F      55
133       23    5    12     2  11  10000U   53   F      56
134       23    6    16     2  11  10000U   53   F      60
patient 24
group      patient  obs  week  site  id  treat  age sex  twstrs
135       24    1     0     2  12  5000U   61   M      56
136       24    2     2     2  12  5000U   61   M      54
137       24    3     4     2  12  5000U   61   M      52
138       24    4     8     2  12  5000U   61   M      48
139       24    5    12     2  12  5000U   61   M      52
140       24    6    16     2  12  5000U   61   M      53
patient 25
group      patient  obs  week  site  id    treat  age sex  twstrs
141       25    1     0     2  13  Placebo   40   M      30
142       25    2     2     2  13  Placebo   40   M      33
143       25    3     4     2  13  Placebo   40   M      25
144       25    4     8     2  13  Placebo   40   M      29
145       25    5    12     2  13  Placebo   40   M      32
146       25    6    16     2  13  Placebo   40   M      32
patient 26
group      patient  obs  week  site  id  treat  age sex  twstrs
147       26    1     0     2  14  5000U   67   M      47
148       26    3     4     2  14  5000U   67   M      54
149       26    4     8     2  14  5000U   67   M      43
150       26    5    12     2  14  5000U   67   M      46
151       26    6    16     2  14  5000U   67   M      50
patient 27
group      patient  obs  week  site  id   treat  age sex  twstrs
152       27    1     0     3   1  10000U   54   F      50
153       27    2     2     3   1  10000U   54   F      43
154       27    3     4     3   1  10000U   54   F      51
155       27    4     8     3   1  10000U   54   F      46
156       27    5    12     3   1  10000U   54   F      49
157       27    6    16     3   1  10000U   54   F      53
patient 28
group      patient  obs  week  site  id    treat  age sex  twstrs
158       28    1     0     3   2  Placebo   41   F      34
159       28    2     2     3   2  Placebo   41   F      29
160       28    3     4     3   2  Placebo   41   F      27
161       28    4     8     3   2  Placebo   41   F      21
162       28    5    12     3   2  Placebo   41   F      22
163       28    6    16     3   2  Placebo   41   F      22
patient 29
group      patient  obs  week  site  id  treat  age sex  twstrs
164       29    1     0     3   3  5000U   66   M      39
165       29    2     2     3   3  5000U   66   M      41
166       29    3     4     3   3  5000U   66   M      33
167       29    4     8     3   3  5000U   66   M      39
168       29    5    12     3   3  5000U   66   M      37
169       29    6    16     3   3  5000U   66   M      37
patient 30
group      patient  obs  week  site  id    treat  age sex  twstrs
170       30    1     0     3   4  Placebo   68   F      43
171       30    2     2     3   4  Placebo   68   F      31
172       30    3     4     3   4  Placebo   68   F      29
173       30    4     8     3   4  Placebo   68   F      28
174       30    5    12     3   4  Placebo   68   F      33
175       30    6    16     3   4  Placebo   68   F      38
patient 31
group      patient  obs  week  site  id   treat  age sex  twstrs
176       31    1     0     3   5  10000U   41   F      46
177       31    2     2     3   5  10000U   41   F      26
178       31    3     4     3   5  10000U   41   F      29
179       31    4     8     3   5  10000U   41   F      33
180       31    5    12     3   5  10000U   41   F      45
181       31    6    16     3   5  10000U   41   F      56
patient 32
group      patient  obs  week  site  id  treat  age sex  twstrs
182       32    1     0     3   6  5000U   77   M      52
183       32    2     2     3   6  5000U   77   M      44
184       32    3     4     3   6  5000U   77   M      47
185       32    4     8     3   6  5000U   77   M      50
186       32    5    12     3   6  5000U   77   M      50
187       32    6    16     3   6  5000U   77   M      49
patient 33
group      patient  obs  week  site  id   treat  age sex  twstrs
188       33    1     0     3   7  10000U   41   M      38
189       33    2     2     3   7  10000U   41   M      19
190       33    3     4     3   7  10000U   41   M      20
191       33    4     8     3   7  10000U   41   M      27
192       33    5    12     3   7  10000U   41   M      29
193       33    6    16     3   7  10000U   41   M      32
patient 34
group      patient  obs  week  site  id    treat  age sex  twstrs
194       34    1     0     3   8  Placebo   56   M      33
195       34    2     2     3   8  Placebo   56   M      38
196       34    3     4     3   8  Placebo   56   M      40
197       34    4     8     3   8  Placebo   56   M      48
198       34    5    12     3   8  Placebo   56   M      49
199       34    6    16     3   8  Placebo   56   M      44
patient 35
group      patient  obs  week  site  id  treat  age sex  twstrs
200       35    1     0     3   9  5000U   46   F      28
201       35    2     2     3   9  5000U   46   F      16
202       35    3     4     3   9  5000U   46   F      11
203       35    4     8     3   9  5000U   46   F       7
204       35    5    12     3   9  5000U   46   F      13
205       35    6    16     3   9  5000U   46   F      21
patient 36
group      patient  obs  week  site  id   treat  age sex  twstrs
206       36    1     0     3  10  10000U   46   F      34
207       36    2     2     3  10  10000U   46   F      23
208       36    3     4     3  10  10000U   46   F      16
209       36    4     8     3  10  10000U   46   F      15
210       36    5    12     3  10  10000U   46   F      17
211       36    6    16     3  10  10000U   46   F      29
patient 37
group      patient  obs  week  site  id    treat  age sex  twstrs
212       37    1     0     3  11  Placebo   47   F      39
213       37    2     2     3  11  Placebo   47   F      37
214       37    3     4     3  11  Placebo   47   F      39
215       37    4     8     3  11  Placebo   47   F      39
216       37    5    12     3  11  Placebo   47   F      45
217       37    6    16     3  11  Placebo   47   F      43
patient 38
group      patient  obs  week  site  id  treat  age sex  twstrs
218       38    1     0     3  12  5000U   35   M      29
219       38    2     2     3  12  5000U   35   M      42
220       38    3     4     3  12  5000U   35   M      35
221       38    4     8     3  12  5000U   35   M      24
222       38    5    12     3  12  5000U   35   M      29
223       38    6    16     3  12  5000U   35   M      42
patient 39
group      patient  obs  week  site  id    treat  age sex  twstrs
224       39    1     0     4   1  Placebo   58   M      52
225       39    2     2     4   1  Placebo   58   M      55
226       39    3     4     4   1  Placebo   58   M      51
227       39    4     8     4   1  Placebo   58   M      52
228       39    5    12     4   1  Placebo   58   M      54
229       39    6    16     4   1  Placebo   58   M      57
patient 40
group      patient  obs  week  site  id  treat  age sex  twstrs
230       40    1     0     4   2  5000U   62   F      52
231       40    2     2     4   2  5000U   62   F      30
232       40    3     4     4   2  5000U   62   F      43
233       40    4     8     4   2  5000U   62   F      45
234       40    5    12     4   2  5000U   62   F      47
235       40    6    16     4   2  5000U   62   F      46
patient 41
group      patient  obs  week  site  id   treat  age sex  twstrs
236       41    1     0     4   3  10000U   73   F      54
237       41    2     2     4   3  10000U   73   F      52
238       41    3     4     4   3  10000U   73   F      52
239       41    4     8     4   3  10000U   73   F      54
240       41    5    12     4   3  10000U   73   F      51
241       41    6    16     4   3  10000U   73   F      57
patient 42
group      patient  obs  week  site  id   treat  age sex  twstrs
242       42    1     0     4   4  10000U   52   F      52
243       42    2     2     4   4  10000U   52   F      44
244       42    3     4     4   4  10000U   52   F      33
245       42    4     8     4   4  10000U   52   F      54
246       42    5    12     4   4  10000U   52   F      46

247       42    6    16     4   4  10000U   52   F      47
patient 43
group      patient  obs  week  site  id    treat  age sex  twstrs
248       43    1     0     4   5  Placebo   53   F      47
249       43    2     2     4   5  Placebo   53   F      45
250       43    3     4     4   5  Placebo   53   F      41
251       43    4     8     4   5  Placebo   53   F      45
252       43    5    12     4   5  Placebo   53   F      43
253       43    6    16     4   5  Placebo   53   F      41
patient 44
group      patient  obs  week  site  id  treat  age sex  twstrs
254       44    1     0     4   6  5000U   69   M      44
255       44    2     2     4   6  5000U   69   M      34
256       44    3     4     4   6  5000U   69   M      29
257       44    4     8     4   6  5000U   69   M      28
258       44    5    12     4   6  5000U   69   M      35
259       44    6    16     4   6  5000U   69   M      41
patient 45
group      patient  obs  week  site  id    treat  age sex  twstrs
260       45    1     0     4   7  Placebo   55   M      42
261       45    2     2     4   7  Placebo   55   M      39
262       45    3     4     4   7  Placebo   55   M      38
263       45    4     8     4   7  Placebo   55   M      47
264       45    5    12     4   7  Placebo   55   M      39
265       45    6    16     4   7  Placebo   55   M      39
patient 46
group      patient  obs  week  site  id   treat  age sex  twstrs
266       46    1     0     4   8  10000U   52   F      42
267       46    2     2     4   8  10000U   52   F      14
268       46    3     4     4   8  10000U   52   F       9
269       46    4     8     4   8  10000U   52   F       9
270       46    5    12     4   8  10000U   52   F      16
271       46    6    16     4   8  10000U   52   F      33
patient 47
group      patient  obs  week  site  id   treat  age sex  twstrs
272       47    1     0     5   1  10000U   51   F      44
273       47    2     2     5   1  10000U   51   F      34
274       47    3     4     5   1  10000U   51   F      32
275       47    4     8     5   1  10000U   51   F      35
276       47    5    12     5   1  10000U   51   F      54
277       47    6    16     5   1  10000U   51   F      53
patient 48
group      patient  obs  week  site  id    treat  age sex  twstrs
278       48    1     0     5   2  Placebo   56   F      60
279       48    2     2     5   2  Placebo   56   F      57
280       48    3     4     5   2  Placebo   56   F      53
281       48    4     8     5   2  Placebo   56   F      52
282       48    5    12     5   2  Placebo   56   F      53
283       48    6    16     5   2  Placebo   56   F      58
patient 49
group      patient  obs  week  site  id  treat  age sex  twstrs
284       49    1     0     5   3  5000U   65   F      60
285       49    2     2     5   3  5000U   65   F      53
286       49    3     4     5   3  5000U   65   F      55
287       49    4     8     5   3  5000U   65   F      62
288       49    5    12     5   3  5000U   65   F      67
patient 50
group      patient  obs  week  site  id   treat  age sex  twstrs
289       50    1     0     5   4  10000U   35   F      50
290       50    2     2     5   4  10000U   35   F      50
291       50    4     8     5   4  10000U   35   F      46
292       50    5    12     5   4  10000U   35   F      50
293       50    6    16     5   4  10000U   35   F      57
patient 51
group      patient  obs  week  site  id  treat  age sex  twstrs
294       51    1     0     5   5  5000U   43   M      38
295       51    2     2     5   5  5000U   43   M      27
296       51    3     4     5   5  5000U   43   M      16
297       51    4     8     5   5  5000U   43   M      19
298       51    5    12     5   5  5000U   43   M      23
299       51    6    16     5   5  5000U   43   M      26
patient 52
group      patient  obs  week  site  id    treat  age sex  twstrs
300       52    1     0     5   6  Placebo   61   M      44
301       52    3     4     5   6  Placebo   61   M      46
302       52    4     8     5   6  Placebo   61   M      26
303       52    5    12     5   6  Placebo   61   M      30
304       52    6    16     5   6  Placebo   61   M      34
patient 53
group      patient  obs  week  site  id    treat  age sex  twstrs
305       53    1     0     6   1  Placebo   43   M      54
306       53    2     2     6   1  Placebo   43   M      53
307       53    3     4     6   1  Placebo   43   M      51
308       53    4     8     6   1  Placebo   43   M      56
309       53    5    12     6   1  Placebo   43   M      39
310       53    6    16     6   1  Placebo   43   M       9
patient 54
group      patient  obs  week  site  id   treat  age sex  twstrs
311       54    1     0     6   2  10000U   64   F      54
312       54    2     2     6   2  10000U   64   F      32
313       54    3     4     6   2  10000U   64   F      40
314       54    4     8     6   2  10000U   64   F      52
315       54    5    12     6   2  10000U   64   F      42
316       54    6    16     6   2  10000U   64   F      47
patient 55
group      patient  obs  week  site  id  treat  age sex  twstrs
317       55    1     0     6   3  5000U   57   M      56
318       55    2     2     6   3  5000U   57   M      55
319       55    3     4     6   3  5000U   57   M      44
320       55    4     8     6   3  5000U   57   M      50
321       55    5    12     6   3  5000U   57   M      53
322       55    6    16     6   3  5000U   57   M      52
patient 56
group      patient  obs  week  site  id  treat  age sex  twstrs
323       56    1     0     6   4  5000U   60   F      51
324       56    2     2     6   4  5000U   60   F      50
325       56    3     4     6   4  5000U   60   F      50
326       56    4     8     6   4  5000U   60   F      56
327       56    5    12     6   4  5000U   60   F      59
328       56    6    16     6   4  5000U   60   F      53
patient 57
group      patient  obs  week  site  id   treat  age sex  twstrs
329       57    1     0     6   5  10000U   44   F      53
330       57    2     2     6   5  10000U   44   F      56
331       57    3     4     6   5  10000U   44   F      47
332       57    4     8     6   5  10000U   44   F      53
333       57    5    12     6   5  10000U   44   F      51
334       57    6    16     6   5  10000U   44   F      51
patient 58
group      patient  obs  week  site  id    treat  age sex  twstrs
335       58    1     0     6   6  Placebo   41   F      36
336       58    2     2     6   6  Placebo   41   F      29
337       58    3     4     6   6  Placebo   41   F      24
338       58    4     8     6   6  Placebo   41   F      32
339       58    5    12     6   6  Placebo   41   F      45
340       58    6    16     6   6  Placebo   41   F      36
patient 59
group      patient  obs  week  site  id  treat  age sex  twstrs
341       59    1     0     6   7  5000U   51   F      59
342       59    2     2     6   7  5000U   51   F      53
343       59    3     4     6   7  5000U   51   F      45
344       59    4     8     6   7  5000U   51   F      44
345       59    5    12     6   7  5000U   51   F      50
346       59    6    16     6   7  5000U   51   F      48
patient 60
group      patient  obs  week  site  id    treat  age sex  twstrs
347       60    1     0     6   8  Placebo   57   F      49
348       60    2     2     6   8  Placebo   57   F      50
349       60    3     4     6   8  Placebo   57   F      48
350       60    4     8     6   8  Placebo   57   F      56
351       60    5    12     6   8  Placebo   57   F      49
352       60    6    16     6   8  Placebo   57   F      57
patient 61
group      patient  obs  week  site  id   treat  age sex  twstrs
353       61    1     0     6   9  10000U   42   F      50
354       61    2     2     6   9  10000U   42   F      38
355       61    3     4     6   9  10000U   42   F      42
356       61    4     8     6   9  10000U   42   F      43
357       61    5    12     6   9  10000U   42   F      42
358       61    6    16     6   9  10000U   42   F      46
patient 62
group      patient  obs  week  site  id    treat  age sex  twstrs
359       62    1     0     6  10  Placebo   48   F      46
360       62    2     2     6  10  Placebo   48   F      48
361       62    3     4     6  10  Placebo   48   F      46
362       62    4     8     6  10  Placebo   48   F      57
363       62    5    12     6  10  Placebo   48   F      57
364       62    6    16     6  10  Placebo   48   F      49
patient 63
group      patient  obs  week  site  id   treat  age sex  twstrs
365       63    1     0     6  11  10000U   57   M      55
366       63    2     2     6  11  10000U   57   M      34
367       63    3     4     6  11  10000U   57   M      26
368       63    4     8     6  11  10000U   57   M      40
369       63    5    12     6  11  10000U   57   M      49
370       63    6    16     6  11  10000U   57   M      47
patient 64
group      patient  obs  week  site  id  treat  age sex  twstrs
371       64    1     0     6  12  5000U   39   M      46
372       64    2     2     6  12  5000U   39   M      44
373       64    3     4     6  12  5000U   39   M      47
374       64    4     8     6  12  5000U   39   M      50
375       64    5    12     6  12  5000U   39   M      46
376       64    6    16     6  12  5000U   39   M      51
patient 65
group      patient  obs  week  site  id   treat  age sex  twstrs
377       65    1     0     6  13  10000U   67   M      34
378       65    2     2     6  13  10000U   67   M      31
379       65    3     4     6  13  10000U   67   M      25
patient 66
group      patient  obs  week  site  id  treat  age sex  twstrs
380       66    1     0     6  14  5000U   39   F      57
381       66    2     2     6  14  5000U   39   F      48
382       66    3     4     6  14  5000U   39   F      50
383       66    4     8     6  14  5000U   39   F      50
384       66    5    12     6  14  5000U   39   F      50
385       66    6    16     6  14  5000U   39   F      49
patient 67
group      patient  obs  week  site  id    treat  age sex  twstrs
386       67    1     0     6  15  Placebo   69   M      41
387       67    2     2     6  15  Placebo   69   M      40
388       67    3     4     6  15  Placebo   69   M      42
389       67    4     8     6  15  Placebo   69   M      38
390       67    5    12     6  15  Placebo   69   M      50
391       67    6    16     6  15  Placebo   69   M      56
patient 68
group      patient  obs  week  site  id  treat  age sex  twstrs
392       68    1     0     7   1  5000U   54   F      49
393       68    2     2     7   1  5000U   54   F      25
394       68    3     4     7   1  5000U   54   F      30
395       68    4     8     7   1  5000U   54   F      41
396       68    5    12     7   1  5000U   54   F      41
397       68    6    16     7   1  5000U   54   F      31
patient 69
group      patient  obs  week  site  id    treat  age sex  twstrs
398       69    1     0     7   2  Placebo   67   F      42
399       69    2     2     7   2  Placebo   67   F      30
400       69    3     4     7   2  Placebo   67   F      40
401       69    4     8     7   2  Placebo   67   F      43
402       69    5    12     7   2  Placebo   67   F      36
403       69    6    16     7   2  Placebo   67   F      45
patient 70
group      patient  obs  week  site  id   treat  age sex  twstrs
404       70    1     0     7   3  10000U   58   F      31
405       70    2     2     7   3  10000U   58   F      18
406       70    3     4     7   3  10000U   58   F      23
407       70    4     8     7   3  10000U   58   F      26
408       70    5    12     7   3  10000U   58   F      33
409       70    6    16     7   3  10000U   58   F      41
patient 71
group      patient  obs  week  site  id    treat  age sex  twstrs
410       71    1     0     7   4  Placebo   72   F      50
411       71    2     2     7   4  Placebo   72   F      27
412       71    3     4     7   4  Placebo   72   F      43
413       71    4     8     7   4  Placebo   72   F      32
414       71    5    12     7   4  Placebo   72   F      40
415       71    6    16     7   4  Placebo   72   F      47
patient 72
group      patient  obs  week  site  id   treat  age sex  twstrs
416       72    1     0     7   5  10000U   65   F      35
417       72    2     2     7   5  10000U   65   F      24
418       72    3     4     7   5  10000U   65   F      34
419       72    4     8     7   5  10000U   65   F      28
420       72    5    12     7   5  10000U   65   F      34
421       72    6    16     7   5  10000U   65   F      28
patient 73
group      patient  obs  week  site  id  treat  age sex  twstrs
422       73    1     0     7   6  5000U   68   F      38
423       73    2     2     7   6  5000U   68   F      25
424       73    3     4     7   6  5000U   68   F      21
425       73    4     8     7   6  5000U   68   F      33
426       73    5    12     7   6  5000U   68   F      42
427       73    6    16     7   6  5000U   68   F      53
patient 74
group      patient  obs  week  site  id   treat  age sex  twstrs
428       74    1     0     7   7  10000U   75   F      53
429       74    2     2     7   7  10000U   75   F      40
430       74    3     4     7   7  10000U   75   F      38
431       74    4     8     7   7  10000U   75   F      44
432       74    5    12     7   7  10000U   75   F      47
433       74    6    16     7   7  10000U   75   F      53
patient 75
group      patient  obs  week  site  id    treat  age sex  twstrs
434       75    1     0     7   8  Placebo   26   F      42
435       75    2     2     7   8  Placebo   26   F      48
436       75    3     4     7   8  Placebo   26   F      26
437       75    4     8     7   8  Placebo   26   F      37
438       75    5    12     7   8  Placebo   26   F      37
439       75    6    16     7   8  Placebo   26   F      43
patient 76
group      patient  obs  week  site  id  treat  age sex  twstrs
440       76    1     0     7   9  5000U   36   F      53
441       76    2     2     7   9  5000U   36   F      45
442       76    3     4     7   9  5000U   36   F      52
443       76    4     8     7   9  5000U   36   F      51
444       76    5    12     7   9  5000U   36   F      52
445       76    6    16     7   9  5000U   36   F      53
patient 77
group      patient  obs  week  site  id   treat  age sex  twstrs
446       77    1     0     7  10  10000U   72   M      46
447       77    2     2     7  10  10000U   72   M      47
448       77    3     4     7  10  10000U   72   M      45
449       77    4     8     7  10  10000U   72   M      45
450       77    5    12     7  10  10000U   72   M      50
451       77    6    16     7  10  10000U   72   M      52
patient 78
group      patient  obs  week  site  id    treat  age sex  twstrs
452       78    1     0     7  11  Placebo   54   F      50
453       78    2     2     7  11  Placebo   54   F      42
454       78    3     4     7  11  Placebo   54   F      52
455       78    4     8     7  11  Placebo   54   F      60
456       78    5    12     7  11  Placebo   54   F      54
457       78    6    16     7  11  Placebo   54   F      59
patient 79
group      patient  obs  week  site  id  treat  age sex  twstrs
458       79    1     0     7  12  5000U   64   F      43
459       79    2     2     7  12  5000U   64   F      24
460       79    3     4     7  12  5000U   64   F      17
461       79    4     8     7  12  5000U   64   F      37
462       79    5    12     7  12  5000U   64   F      36
463       79    6    16     7  12  5000U   64   F      38
patient 80
group      patient  obs  week  site  id    treat  age sex  twstrs
464       80    1     0     8   1  Placebo   39   F      46
465       80    2     2     8   1  Placebo   39   F      39
466       80    3     4     8   1  Placebo   39   F      25
467       80    4     8     8   1  Placebo   39   F      15
468       80    5    12     8   1  Placebo   39   F      21
469       80    6    16     8   1  Placebo   39   F      25
patient 81
group      patient  obs  week  site  id   treat  age sex  twstrs
470       81    1     0     8   2  10000U   54   M      41
471       81    2     2     8   2  10000U   54   M      30
472       81    3     4     8   2  10000U   54   M      44
473       81    4     8     8   2  10000U   54   M      46
474       81    5    12     8   2  10000U   54   M      46
475       81    6    16     8   2  10000U   54   M      44
patient 82
group      patient  obs  week  site  id  treat  age sex  twstrs
476       82    1     0     8   3  5000U   48   M      33
477       82    2     2     8   3  5000U   48   M      27
478       82    3     4     8   3  5000U   48   M      25
479       82    4     8     8   3  5000U   48   M      30
480       82    5    12     8   3  5000U   48   M      28
481       82    6    16     8   3  5000U   48   M      30
patient 83
group      patient  obs  week  site  id  treat  age sex  twstrs
482       83    1     0     8   4  5000U   83   F      36
483       83    2     2     8   4  5000U   83   F      15
484       83    3     4     8   4  5000U   83   F      16
485       83    4     8     8   4  5000U   83   F      17
486       83    5    12     8   4  5000U   83   F      22
487       83    6    16     8   4  5000U   83   F      41
patient 84
group      patient  obs  week  site  id   treat  age sex  twstrs
488       84    1     0     8   5  10000U   74   M      33
489       84    2     2     8   5  10000U   74   M      32
490       84    3     4     8   5  10000U   74   M      31
491       84    4     8     8   5  10000U   74   M      27
492       84    5    12     8   5  10000U   74   M      49
493       84    6    16     8   5  10000U   74   M      60
patient 85
group      patient  obs  week  site  id    treat  age sex  twstrs

494       85    1     0     8   6  Placebo   41   M      37
patient 86
group      patient  obs  week  site  id   treat  age sex  twstrs
495       86    1     0     8   7  10000U   65   F      24
496       86    2     2     8   7  10000U   65   F      29
497       86    3     4     8   7  10000U   65   F      18
498       86    4     8     8   7  10000U   65   F      20
499       86    5    12     8   7  10000U   65   F      25
500       86    6    16     8   7  10000U   65   F      41
patient 87
group      patient  obs  week  site  id  treat  age sex  twstrs
501       87    1     0     8   8  5000U   79   M      42
502       87    2     2     8   8  5000U   79   M      23
503       87    3     4     8   8  5000U   79   M      30
504       87    4     8     8   8  5000U   79   M      36
505       87    5    12     8   8  5000U   79   M      41
506       87    6    16     8   8  5000U   79   M      43
patient 88
group      patient  obs  week  site  id    treat  age sex  twstrs
507       88    1     0     8   9  Placebo   63   M      30
508       88    2     2     8   9  Placebo   63   M      22
509       88    3     4     8   9  Placebo   63   M      21
510       88    4     8     8   9  Placebo   63   M      25
511       88    5    12     8   9  Placebo   63   M      26
512       88    6    16     8   9  Placebo   63   M      33
patient 89
group      patient  obs  week  site  id    treat  age sex  twstrs
513       89    1     0     8  10  Placebo   63   F      42
514       89    2     2     8  10  Placebo   63   F      46
515       89    3     4     8  10  Placebo   63   F      41
516       89    4     8     8  10  Placebo   63   F      43
517       89    5    12     8  10  Placebo   63   F      49
518       89    6    16     8  10  Placebo   63   F      54
patient 90
group      patient  obs  week  site  id   treat  age sex  twstrs
519       90    1     0     8  11  10000U   34   F      49
520       90    2     2     8  11  10000U   34   F      25
521       90    3     4     8  11  10000U   34   F      30
522       90    4     8     8  11  10000U   34   F      49
523       90    5    12     8  11  10000U   34   F      55
524       90    6    16     8  11  10000U   34   F      58
patient 91
group      patient  obs  week  site  id  treat  age sex  twstrs
525       91    1     0     8  12  5000U   42   M      58
526       91    2     2     8  12  5000U   42   M      46
527       91    3     4     8  12  5000U   42   M      46
528       91    4     8     8  12  5000U   42   M      50
529       91    5    12     8  12  5000U   42   M      56
530       91    6    16     8  12  5000U   42   M      60
patient 92
group      patient  obs  week  site  id    treat  age sex  twstrs
531       92    1     0     8  13  Placebo   57   M      26
532       92    2     2     8  13  Placebo   57   M      26
533       92    3     4     8  13  Placebo   57   M      27
534       92    4     8     8  13  Placebo   57   M      22
535       92    5    12     8  13  Placebo   57   M      38
536       92    6    16     8  13  Placebo   57   M      35
patient 93
group      patient  obs  week  site  id  treat  age sex  twstrs
537       93    1     0     8  14  5000U   68   M      37
538       93    3     4     8  14  5000U   68   M      23
539       93    4     8     8  14  5000U   68   M      18
540       93    5    12     8  14  5000U   68   M      34
541       93    6    16     8  14  5000U   68   M      36
patient 94
group      patient  obs  week  site  id   treat  age sex  twstrs
542       94    1     0     8  15  10000U   51   M      40
543       94    2     2     8  15  10000U   51   M      24
544       94    3     4     8  15  10000U   51   M      25
545       94    4     8     8  15  10000U   51   M      37
546       94    6    16     8  15  10000U   51   M      38
patient 95
group      patient  obs  week  site  id  treat  age sex  twstrs
547       95    1     0     8  16  5000U   51   F      33
548       95    2     2     8  16  5000U   51   F      10
549       95    3     4     8  16  5000U   51   F      13
550       95    4     8     8  16  5000U   51   F      16
551       95    5    12     8  16  5000U   51   F      32
552       95    6    16     8  16  5000U   51   F      16
patient 96
group      patient  obs  week  site  id   treat  age sex  twstrs
553       96    1     0     8  17  10000U   61   F      41
554       96    2     2     8  17  10000U   61   F      50
555       96    3     4     8  17  10000U   61   F      22
556       96    4     8     8  17  10000U   61   F      28
557       96    5    12     8  17  10000U   61   F      34
558       96    6    16     8  17  10000U   61   F      36
patient 97
group      patient  obs  week  site  id    treat  age sex  twstrs
559       97    1     0     8  18  Placebo   42   M      46
560       97    3     4     8  18  Placebo   42   M      41
561       97    4     8     8  18  Placebo   42   M      41
562       97    5    12     8  18  Placebo   42   M      58
563       97    6    16     8  18  Placebo   42   M      53
patient 98
group      patient  obs  week  site  id   treat  age sex  twstrs
564       98    1     0     8  19  10000U   73   F      40
565       98    2     2     8  19  10000U   73   F      28
566       98    3     4     8  19  10000U   73   F      29
567       98    4     8     8  19  10000U   73   F      30
568       98    5    12     8  19  10000U   73   F      37
569       98    6    16     8  19  10000U   73   F      44
patient 99
group      patient  obs  week  site  id   treat  age sex  twstrs
570       99    1     0     9   1  10000U   57   M      40
571       99    2     2     9   1  10000U   57   M      16
572       99    3     4     9   1  10000U   57   M      18
573       99    4     8     9   1  10000U   57   M      25
574       99    5    12     9   1  10000U   57   M      33
575       99    6    16     9   1  10000U   57   M      48
patient 100
group      patient  obs  week  site  id    treat  age sex  twstrs
576      100    1     0     9   2  Placebo   59   M      61
577      100    2     2     9   2  Placebo   59   M      52
578      100    3     4     9   2  Placebo   59   M      61
579      100    4     8     9   2  Placebo   59   M      68
580      100    5    12     9   2  Placebo   59   M      59
581      100    6    16     9   2  Placebo   59   M      71
patient 101
group      patient  obs  week  site  id  treat  age sex  twstrs
582      101    1     0     9   3  5000U   57   M      35
583      101    2     2     9   3  5000U   57   M      21
584      101    3     4     9   3  5000U   57   M      29
585      101    4     8     9   3  5000U   57   M      30
586      101    5    12     9   3  5000U   57   M      35
587      101    6    16     9   3  5000U   57   M      48
patient 102
group      patient  obs  week  site  id    treat  age sex  twstrs
588      102    1     0     9   4  Placebo   68   F      58
589      102    2     2     9   4  Placebo   68   F      38
590      102    3     4     9   4  Placebo   68   F      50
591      102    4     8     9   4  Placebo   68   F      53
592      102    5    12     9   4  Placebo   68   F      47
593      102    6    16     9   4  Placebo   68   F      59
patient 103
group      patient  obs  week  site  id  treat  age sex  twstrs
594      103    1     0     9   5  5000U   55   F      49
595      103    2     2     9   5  5000U   55   F      45
596      103    3     4     9   5  5000U   55   F      36
597      103    5    12     9   5  5000U   55   F      40
598      103    6    16     9   5  5000U   55   F      52
patient 104
group      patient  obs  week  site  id   treat  age sex  twstrs
599      104    1     0     9   6  10000U   46   F      52
600      104    2     2     9   6  10000U   46   F      46
601      104    3     4     9   6  10000U   46   F      36
602      104    5    12     9   6  10000U   46   F      45
603      104    6    16     9   6  10000U   46   F      54
patient 105
group      patient  obs  week  site  id    treat  age sex  twstrs
604      105    1     0     9   7  Placebo   79   F      45
605      105    2     2     9   7  Placebo   79   F      46
606      105    3     4     9   7  Placebo   79   F      33
607      105    4     8     9   7  Placebo   79   F      44
608      105    5    12     9   7  Placebo   79   F      46
609      105    6    16     9   7  Placebo   79   F      48
patient 106
group      patient  obs  week  site  id  treat  age sex  twstrs
610      106    1     0     9   8  5000U   43   M      67
611      106    2     2     9   8  5000U   43   M      63
612      106    3     4     9   8  5000U   43   M      71
613      106    4     8     9   8  5000U   43   M      66
614      106    5    12     9   8  5000U   43   M      68
615      106    6    16     9   8  5000U   43   M      71
patient 107
group      patient  obs  week  site  id   treat  age sex  twstrs
616      107    1     0     9   9  10000U   50   M      57
617      107    3     4     9   9  10000U   50   M      36
618      107    4     8     9   9  10000U   50   M      23
619      107    6    16     9   9  10000U   50   M      52
patient 108
group      patient  obs  week  site  id   treat  age sex  twstrs
620      108    1     0     9  10  10000U   39   F      63
621      108    2     2     9  10  10000U   39   F      51
622      108    3     4     9  10  10000U   39   F      46
623      108    4     8     9  10  10000U   39   F      50
624      108    5    12     9  10  10000U   39   F      50
625      108    6    16     9  10  10000U   39   F      54
patient 109
group      patient  obs  week  site  id  treat  age sex  twstrs
626      109    1     0     9  11  5000U   57   M      53
627      109    2     2     9  11  5000U   57   M      38
628      109    4     8     9  11  5000U   57   M      33
629      109    5    12     9  11  5000U   57   M      36
630      109    6    16     9  11  5000U   57   M      51

A common data analysis procedure is the **split-apply-combine** operation, which groups subsets of data together, applies a function to each of the groups, then recombines them into a new data table.

For example, we may want to aggregate our data with with some function.

![split-apply-combine](http://f.cl.ly/items/0s0Z252j0X0c3k3P1M47/Screen%20Shot%202013-06-02%20at%203.04.04%20PM.png)

<div align="right">*(figure taken from "Python for Data Analysis", p.251)*</div>

We can aggregate in Pandas using the `aggregate` (or `agg`, for short) method:

In [5]:
cdystonia_grouped.mean().head()

         obs  week  site   id   age     twstrs
patient
1        3.5   7.0   1.0  1.0  65.0  33.000000
2        3.5   7.0   1.0  2.0  70.0  47.666667
3        3.5   7.0   1.0  3.0  64.0  30.500000
4        2.5   3.5   1.0  4.0  59.0  60.000000
5        3.5   7.0   1.0  5.0  76.0  46.166667

Notice that the `treat` and `sex` variables are <b>not included in the aggregation</b>. Since it does not make sense to aggregate string variables, these columns are simply ignored by the method.

Some aggregation functions are so common that Pandas has a convenience method for them, such as `mean`:

The `add_prefix` and `add_suffix` methods can be used to give the columns of the resulting table labels that reflect the transformation:

In [6]:
cdystonia_grouped.mean().add_suffix('_mean').head()

         obs_mean  week_mean  site_mean  id_mean  age_mean  twstrs_mean
patient
1             3.5        7.0        1.0      1.0      65.0    33.000000
2             3.5        7.0        1.0      2.0      70.0    47.666667
3             3.5        7.0        1.0      3.0      64.0    30.500000
4             2.5        3.5        1.0      4.0      59.0    60.000000
5             3.5        7.0        1.0      5.0      76.0    46.166667

In [7]:
# The median of the `twstrs` variable
cdystonia_grouped['twstrs'].quantile(0.5).head(10)

patient
1     34.0
2     50.5
3     30.5
4     61.5
5     48.5
6     48.0
7     42.0
8     32.5
9     35.5
10    20.5
Name: twstrs, dtype: float64

If we wish, we can easily aggregate according to multiple keys:

In [8]:
cdystonia.groupby(['week','site']).mean().head()

           patient  obs   id        age     twstrs
week site
0    1         6.5  1.0  6.5  59.000000  43.083333
     2        19.5  1.0  7.5  53.928571  51.857143
     3        32.5  1.0  6.5  51.500000  38.750000
     4        42.5  1.0  4.5  59.250000  48.125000
     5        49.5  1.0  3.5  51.833333  49.333333

### Apply

We can generalize the split-apply-combine methodology by using `apply` function. This allows us to invoke any function we wish on a grouped dataset and recombine them into a DataFrame.

The function below takes a DataFrame and a column name, sorts by the column, and takes the `n` largest values of that column. We can use this with `apply` to return the largest values from every group in a DataFrame in a single call.

In [9]:
def top(df, column, n=5):
    return df.sort_values(by=column, ascending=False)[:n]

To see this in action, consider the vessel transit segments dataset (which we merged with the vessel information to yield `segments_merged`). Say we wanted to return the 3 longest segments travelled by each ship:

In [40]:
my_top3segments = segments_merged.groupby('mmsi').max()[['seg_length']]
my_top3segments.head(15)

        seg_length
mmsi
1             76.0
9             47.2
21            48.7
74             7.4
103           87.5
310           77.4
3011         121.6
4731           2.1
15151         68.1
46809         83.8
80404         32.5
82003         70.0
298716        25.2
366235        37.5
439541       329.0

In [25]:
top3segments = segments_merged.groupby('mmsi').apply(top, column='seg_length', n=3)[['names', 'seg_length']]
top3segments.head(15)

                                                     names  seg_length
mmsi
1    6   Bil Holman Dredge/Dredge Capt Frank/Emo/Offsho...        76.0
     5   Bil Holman Dredge/Dredge Capt Frank/Emo/Offsho...        17.4
     7   Bil Holman Dredge/Dredge Capt Frank/Emo/Offsho...        13.7
9    15                         000000009/Raven/Shearwater        47.2
     14                         000000009/Raven/Shearwater        31.4
     13                         000000009/Raven/Shearwater        19.3
21   16                                      Us Gov Vessel        48.7
     25                                      Us Gov Vessel        25.3
     30                                      Us Gov Vessel        21.7
74   35                                  Mcfaul/Sarah Bell         7.4
     34                                  Mcfaul/Sarah Bell         1.4
103  37           Ron G/Us Navy Warship 103/Us Warship 103        87.5
     41           Ron G/Us Navy Warship 103/Us Warship 103        62.6
     43           Ron G/Us Navy Warship 103/Us Warship 103        59.1
310  51                                           Arabella        77.4

Notice that additional arguments for the applied function can be passed via `apply` after the function name. It assumes that the DataFrame is the first argument.

### Exercise 7

Recall the microbiome data sets that we used previously for the concatenation example. Suppose that we wish to aggregate the data at a higher biological classification than genus. For example, we can identify samples down to *class*, which is the 3rd level of organization in each index.
Apply function `split` to the column `Taxon`. Then `groupby` on `Taxon` and `sum`.

In [ ]:
mb_taxon = mb1.reset_index()
split = lambda x: ' '.join(x.split(' ')[:3])
mb_taxon.head()

In [ ]:
# Write your answer here

## References

[Python for Data Analysis](http://shop.oreilly.com/product/0636920023784.do) Wes McKinney